body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.main{
  padding: 40px;
  padding-top: 83px;
  text-align: left;
  color:black;
}
.main.full{
  padding: 0px !important;
  padding-top: 83px;
  text-align: left;
  color:black;
}
.navbar-toggler{
  /* border: none; */
}
.btn-top{
  margin-left: 10px;
}